/*{
	padding: 0;
	margin: 0;
	border: 0;
}*/
.container{
	width: 90%;
	margin: 0 auto;
	background-color: red;
}
table .usuarios{
	text-align: center;
}
body { 
	
}

nav ul {
	padding: 0;
}
nav ul li{
	display: inline;
}
nav a{
	text-decoration: none;
	color: #777;
}
